
       <div class="container h-100 carta">
           <div class="d-flex justify-content-center h-100">
               <div class="user_card">
                     <div class="d-flex justify-content-center">
                            <div class="brand_logo_container">
                                <img src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png" class="brand_logo" alt="Logo">
                            </div>
                        </div>
                   <div class="d-flex justify-content-center form_container">
                    
                       <form>
                            <label>Usuario:</label>
                            <br>
                            <input type="text" class="form-control" placeholder="Digite su nombre">
                        
                       <br>
                       <label>Contraseña:</label>
                       <br>
                       <input type="text" class="form-control" placeholder="Digite su password">
                   
                  <br>

                          <button type="button" name="button" href="registrar" class="btn login_btn">Login</button>
                       </form>
                   </div>
               </div>
           </div>
       </div>