<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="recuperarcontr.component.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f31778972e.js" crossorigin="anonymous"></script>
<title></title>
</head>

<body >

    <nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container">
			<a class="navbar-brand" href="#">...</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href=""></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="">Login</a>
					</li>

				</ul>
			</div>
		</div>
	</nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
            <div class="card">

                <div class="card-header bg-danger-1">
                    <div class="text-center">
                        <h3>
                            <b>Recuperar Contraseña</b>
                        </h3>
                    </div>
                </div>
                    <div class="card-body">
                        <br>

                        <form action="">
                            <div class="input-group ">
                            <input type="text" class="form-control"  placeholder="Contraseña Actual" required>
                        </div>
                        <br>
                        
                        <div class="input-group ">
                            <input type="password" class="form-control"  placeholder="Contraseña Nueva" required>
                        </div>
                        <br>
                        
                        <div class="input-group ">
                            <input type="password" class="form-control"  placeholder="Confirmar Contraseña" required>
                        </div>
                        <br>
                            <div class="text-center">
                                    <button type="submit" class="btn-danger-1">Recuperar</button> 
                            </div>
                            <br>                                                                            
                        </form>
                    </div>
            </div>
            </div>
            <div class="col-sm"></div>
        </div>
      

    </div>


    
</body>
</html>