
.card{
    margin-top: 100px;
    box-shadow: 4px 5px 7px 1px rgb(0 0 0 / 60%);
  }
  .body {
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
  }
  .olvido-con {
    color: #4C4C4C;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: auto;
  }
  .form-control {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0.5px solid #9cd7e6;
    border-radius: 0px;
  }
  .btn-danger-1 {
      background-color: #9cd7e6;
      border-radius: 12px;
      border: 0px;
      height: 40px;
      width: 40%;
      text-transform: uppercase;
      color: white;
    }
    .bg-danger-1 {
      background-color: #9cd7e6;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: #fff;
    }
    .navbar {
        background-color: #73cde3;
        width: 1500px;
        height: 70px;
    }
    
    .nav-link {
        color: #fff;
    }
